<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>RetroGame Vault</title>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <%- include("../partials/navbar.ejs") %>

        <main>
            <h2 class="questions">Who are we?</h2>
            <p class=" infobox">
                Welcome to the ultimate treasure trove of gaming history! We are RetroGame Vault! Dive into our
                extensive archive filled
                with classic titles, hidden gems, and beloved favorites spanning decades of gaming nostalgia. Explore
                meticulously preserved games, immerse yourself in full-color manual scans, and uncover the stories
                behind
                each pixelated masterpiece. Whether you're a seasoned gamer seeking a trip down memory lane or a curious
                explorer venturing into uncharted territories, our vault has something special waiting for you. Start
                your
                journey now and let the adventure begin!
            </p>

            <%- include("../partials/table.ejs") %>
        </main>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
</body>

</html>