<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>PS3 Games</title>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <%- include("../partials/navbar.ejs") %>

        <main>
            <div class="gallery_align">
                <div class="gallery">
                    <a href="downloads/sk3.zip" download="Skate_3.zip">
                        <img src="/resources/images/sk3.jpeg" alt="sk3">
                    </a>
                    <div class="description">Skate 3</div>
                </div>

                <div class="gallery">
                    <a href="downloads/gow3.zip" download="God_of_War_III.zip">
                        <img src="/resources/images/gow3.jpg" alt="gow3">
                    </a>
                    <div class="description">God of War III</div>
                </div>

                <div class="gallery">
                    <a href="downloads/demonssouls.zip" download="Demons_Souls.zip">
                        <img src="/resources/images/demonssouls.jpeg" alt="demonssouls">
                    </a>
                    <div class="description">Demon's Souls</div>
                </div>

                <div class="gallery">
                    <a href="downloads/mcps3.zip" download="Minecraft_PS3.zip">
                        <img src="/resources/images/mcps3.jpeg" alt="mcps3">
                    </a>
                    <div class="description">Minecraft : PS3</div>
                </div>
            </div>

            <%- include("../partials/table.ejs") %>
        </main>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
</body>

</html>