<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>Vault</title>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <%- include("../partials/navbar.ejs") %>

        <main>
            <h2 class="questions">Chose your desired console!</h2>
            <div class=" gallery_align">
                <div class=" gallery">
                    <a target="" href="/ps2"><img src="/resources/images/ps2.jpg" alt="ps2"></a>
                    <div class="description">PS2</div>
                </div>

                <div class="gallery">
                    <a target="" href="/ps3"><img src="/resources/images/ps3.jpg" alt="ps3"></a>
                    <div class="description">PS3</div>
                </div>

                <div class="gallery">
                    <a target="" href="/xbox360"><img src="/resources/images/xbox360.jpg" alt="xbox360"></a>
                    <div class="description">Xbox 360</div>
                </div>

                <div class="gallery">
                    <a target="" href="/wii"><img src="/resources/images/wii.jpg" alt="wii"></a>
                    <div class="description">Wii</div>
                </div>
            </div>

            <%- include("../partials/table.ejs") %>
        </main>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>

</body>

</html>