<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title>XBOX360 Games</title>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <%- include("../partials/navbar.ejs") %>

        <main>
            <div class="gallery_align">
                <div class="gallery">
                    <a href="downloads/fh1.zip" download="Forza_Horizon.zip">
                        <img src="/resources/images/fh1.jpeg" alt="fh1">
                    </a>
                    <div class="description">Forza Horizon</div>
                </div>

                <div class="gallery">
                    <a href="downloads/halo3.zip" download="Halo_3.zip">
                        <img src="/resources/images/halo3.jpg" alt="halo3">
                    </a>
                    <div class="description">Halo 3</div>
                </div>

                <div class="gallery">
                    <a href="downloads/f2.zip" download="Fable_II.zip">
                        <img src="/resources/images/f2.jpg" alt="fable2">
                    </a>
                    <div class="description">Fable II</div>
                </div>

                <div class="gallery">
                    <a href="downloads/bo2.zip" download="Call_of_Duty_BO2.zip">
                        <img src="/resources/images/bo2.jpeg" alt="codbo2">
                    </a>
                    <div class="description">Call of Duty: BO2</div>
                </div>
            </div>
            <%- include("../partials/table.ejs") %>
        </main>

        <footer>
            <%- include("../partials/footer.ejs") %>
        </footer>
</body>

</html>